body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

input, select {
  padding: 6px;
  margin-right: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

th {
  background: #222;
  color: white;
  cursor: pointer;
}

/* 1 dòng trắng – 1 dòng xám */
tbody tr:nth-child(odd) {
  background: #fff;
}
tbody tr:nth-child(even) {
  background: #f2f2f2;
}

img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  background: #fff;
}

#pagination {
  margin-top: 15px;
}

#pagination button {
  padding: 5px 10px;
  margin: 2px;
  cursor: pointer;
}
